.overview {
    &__fifth-section {
        position: relative;
        @media (max-width: 991px) {
            display: none;
        }
        .lining {
            position: absolute;
            background-color: #1e1d20;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30%;
            height: 30%;
            z-index: 1;
        }
        &_title {
            position: relative;
            font-size: calculateSize(46, 88);
            margin-top: 84px;
            z-index: 22;
        }
        &_wrapper {
            padding: 0 calculateSize(10, 50);
            margin-top: 100px;
            display: grid;
            position: relative;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            gap: 0px;
            z-index: 22;
        }
        .first-block,
        .second-block,
        .third-block,
        .fourth-block {
            position: relative;
            border-radius: 90px;
            background-color: #161517;
            z-index: 2;
            &__img {
                display: flex;
                width: 100%;
                justify-content: start;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: calculateSize(20, 200);
            &__title {
                font-size: 28px;
                font-weight: 400;
                align-self: start;
                margin-bottom: 34px;
                color: #918f9e;
            }
            &__description {
                font-size: calculateSize(18, 35);
            }
        }
        .first-block,
        .fourth-block {
            background-color: #1e1d20;
        }
    }
    &__second-mobile {
        display: flex;
        flex-direction: column;
    }
    .mobile-second {
        display: none;
        @media (max-width: 991px) {
            position: relative;
            display: block;
            z-index: 22;
        }
        &__title-block {
            padding: 0 calculateSize(10, 50);
            display: flex;
            justify-content: start;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: calculateSize(46, 88);
            @media (max-width: 600px) {
                justify-content: center;
            }
        }
        &__swiper-block {
            margin-top: 32px;
            padding-left: 10px;
            @media (max-width: 600px) {
                padding: 15px;
            }
            .swiper-wrapper {
               
            }
            
            .swiper-pagination-bullet {
                background-color: #918f9e; /* колір активного булета */
            }
            .swiper-pagination-bullet-active {
                background-color: #918f9e; /* колір неактивного булета */
            }
            .swiper-pagination-bullet {
                position: relative;
                width: 12px;
                height: 12px;
                margin: 0 5px;
                top: 1px;
            }
            &.swiper, &.swiper-fifth {
                display: flex;
                height: auto;
                position: relative; 
                // margin-bottom: 30px;
                .swiper-item {
                    display: flex;
                    height:auto;
                    overflow: auto;
                    padding: 48px;
                    flex-direction: column;
                    justify-content: start;
                    align-items: flex-start;
                    gap: 16px;
                    align-self: stretch;
                    background-color: #201f22;
                    border-radius: 36px;
                    &__title {
                        font-size: 28px;
                        font-weight: 400;
                        align-self: start;
                        margin-bottom: 34px;
                        color: #918f9e;
                    }
                    &__description {
                        font-size: calculateSize(18, 35);
                    }
                    &__text {
                        font-size: calculateSize(30, 48);
                        font-style: normal;
                        font-weight: 400;
                        color: #e0e0e0;
                    }
                }
            }
        }
    }
    .swiper-pagination, .paginations {
        position: relative;
        padding: 10px;
        border-radius: 20px;
        background-color: #ec1010;
        bottom: -20px;                
        width: fit-content;
        left: 50%;
        transform: translate(-50%, 0px);
        background-color: #201f22;
        z-index: 243552;
        .swiper-pagination-bullet {
            background-color: #918f9e; /* колір активного булета */
        }
        .swiper-pagination-bullet-active {
            background-color: #918f9e; /* колір неактивного булета */
        }
        .swiper-pagination-bullet {
            position: relative;
            width: 12px;
            height: 12px;
            margin: 0 5px;
            top: 1px;
        }
    }
}
