
.overview {
    
    &__first-section {
        padding: 0 calculateSize(10, 50);
        &_title {
            // font-size: 118px;
            font-family: Gilroy;
            
            margin: calculateSize(30, 50) 0 calculateSize(30, 68) 0;
            font-size: calculateSize(54, 118);
        }
        &_img {
            img {
                width: 100%;
                height: auto;
                border-radius: calculateSize(10, 45); 
                object-fit: contain;
                margin-bottom: calculateSize(10, 153);
            }
        }
    }
}