.overview {
    &__second-section {
        padding: 0 calculateSize(10, 50);
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        gap: 0px;
        @media (max-width: 991px) {
            display: none;
        }
        .lining {
            position: absolute;
            background-color: #1e1d20;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 70%;
            z-index: 1;
        }
        .first-block,
        .second-block,
        .third-block,
        .fourth-block {
            position: relative;
            z-index: 2;
        }
        .first-block {
            border-bottom-right-radius: 90px;
            background-color: #161517;
        }
        .second-block {
            border-radius: 90px;
            background-color: #1e1d20;
        }
        .third-block {
            border-radius: 90px;

            background-color: #1e1d20;
        }
        .fourth-block {
            border-top-left-radius: 90px;
            background-color: #161517;
        }

        .first-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: calculateSize(46, 88);
            &__title {
                font-size: calculateSize(46, 88);
            }
            &__icons-info {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: calculateSize(26, 68);
                img {
                    margin-right: 34px;
                }
            }
        }

        .second-block,
        .third-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: calculateSize(20, 200);
            color: #e0e0e0;
            &__title {
                font-size: 28px;
                font-weight: 400;
                align-self: start;
                margin-bottom: 34px;
                color: #918f9e;
            }
            &__description {
                font-size: calculateSize(18, 35);
            }
        }

        .fourth-block {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: calculateSize(20, 200);
            &__text {
                font-size: calculateSize(30, 48);
                font-style: normal;
                font-weight: 400;
                color: #e0e0e0;
            }
        }
    }
    &__second-mobile {
        display: flex;
        flex-direction: column;
    }
    .mobile-second {
        display: none;
        @media (max-width: 991px) {
            display: block;
        }
        &__title-block {
            padding: 0 calculateSize(10, 50);
            display: flex;
            justify-content: start;
            width: 100%;
            display: flex;
            align-items: center;
            @media (max-width: 600px) {
                justify-content: center;
            }
            &__wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .block-info {
                &__title {
                    font-size: calculateSize(46, 88);
                    font-style: normal;
                    font-weight: 600;
                    background: linear-gradient(to right, #80a0e2, #e1c8cc, #80cce0);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &__icons-info {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-top: calculateSize(26, 68);
                    img {
                        width: 80px;
                        margin-right: 34px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        &__swiper-block {
            margin-top: 32px;
            padding-left: 10px;
            @media (max-width: 600px) {
                    padding: 15px;
                }
            .swiper-pagination {
                padding: 10px;
                border-radius: 20px;
                background-color: #fff;
                width: auto;
                left: 50%;
                transform: translate(-50%, 0px);
                background-color: #201f22;
            }
            .swiper-pagination-bullet {
                background-color: #918f9e; /* колір активного булета */
            }
            .swiper-pagination-bullet-active {
                background-color: #918f9e; /* колір неактивного булета */
            }
            .swiper-pagination-bullet {
                position: relative;
                width: 12px;
                height: 12px;
                margin: 0 5px;
                top: 1px;
            }
            &.swiper,
            &.swiperTwo {
                position: relative;
                min-height: 470px;
                margin-bottom: 50px;
                .swiper-item {
                    display: flex;
                    height: 400px;
                    padding: 48px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 16px;
                    align-self: stretch;
                    background-color: #201f22;
                    border-radius: 36px;
                    &__title {
                        font-size: 28px;
                        font-weight: 400;
                        align-self: start;
                        margin-bottom: 34px;
                        color: #918f9e;
                    }
                    &__description {
                        font-size: calculateSize(18, 35);
                    }
                    &__text {
                        font-size: calculateSize(30, 48);
                        font-style: normal;
                        font-weight: 400;
                        color: #e0e0e0;
                    }
                }
            }
        }
    }
}
