.header {
  width: 100%;
  // transition: background-color var(--bs-transition);
  z-index: 50;

  .header-is-sticky & {
    // ..стили для липкого хедера
    position: fixed;
    background-color: #007aff;
  }

  // .header__container
  &__container {
    height: rem($headerHeight);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: start;
    

    .header-is-sticky & {
      height: rem($headerHeight - 50);
    }
    &_logo {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      user-select: none;
    }
    .logo {
      cursor: pointer;
      &__icon {
        margin-right: 12px;
        path {
          transition: all ease 0.3s;
        }
      }
      &__text {
        font-family: Coolvetica;
        font-size: 28px;
        transition: all ease 0.3s;
      }
      

      &:hover {
        .logo__icon {
          path {
            fill: #467ff0;
          }
        }
        .logo__text {
          color: #467ff0;
        }
      }
    }
    &_nav-menu {
      ul {
        display: flex;
        justify-content: center;
        li {
          margin-right: 14px;
          cursor: pointer;
          transition: color ease 0.3s;
          user-select: none;
          padding: 10px;
          &:hover {
            color: #80a0e2;
          }
        }
      }
    }
    
    &_more-info {
      display: flex; 
      width: 100%;
      justify-content: end;
      .more-info__button {
        position: relative;
        padding: 14px 44px;
        border-radius: 30px;
        color: white;
        text-wrap: nowrap;
        background: #161517;
        transition: all ease 0.3s;

        &:hover {
          background: none;
          color: black;
        }

        &::before {
          content: "";
          position: absolute;
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -1px;
          z-index: -1;
          background: linear-gradient(to right, #80a0e2, #e1c8cc, #80cce0);
          border-radius: inherit;
        }
      }
    }
  }
}

// Burger
/*
.icon-menu {
  display: none;

  @include media-mx(768) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
