.header {
  z-index: 50;

  .header-is-sticky & {
    // ..стили для липкого хедера
    position: fixed;
    background-color: #007aff;
  }
@media (max-width: 991px) {
    //  .header__container{
     
    //   &::before {
    //     content: '';
    //     position:absolute; 
    //     z-index: 1; 
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 90px; 
    //     background-color: #46444d;       
    //   }

    //  }
    }
  // .header__container
  &__container {
    height: rem($headerHeight);
    display: grid;
    grid-template-columns: 15% 1fr;
    align-items: center;
    justify-content: start;
    @media (max-width: 1030px) {
    }
    .logo--header {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      user-select: none;
      z-index: 100;
    }
    .logo {
      cursor: pointer;
      &__icon {
        margin-right: 12px;
        path {
          transition: all ease 0.3s;
        }
      }
      &__text {
        font-family: Coolvetica;
        font-size: 28px;
        transition: all ease 0.3s;
      }

      &:hover {
        .logo__icon {
          path {
            fill: #467ff0;
          }
        }
        .logo__text {
          color: #467ff0;
        }
      }
    }
    .burger-menu {
      display: grid;
      grid-template-columns: 1fr 20%;
      transition: all ease 0.4s;
      @media (max-width: 991px) {
        position: absolute;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: #46444d;
        overflow: none;
        
      }
      &.active {
        overflow: auto;
        left: 0%;
      }
      &__icon {
        position: absolute;
        width: 28px;
        height: 28px;
        left: -10%;
        top: 8%;
        z-index: 2;
        transition: all ease 0.4s;

        &.active {
          left: 90%;
          .burger-menu__icon-item {
            height: 0; 
            &::before {
              transform: translateY(10px) rotate(45deg);
            }
            &::after {
              transform: translateY(-10px) rotate(-45deg);
              width: 28px; 

            }
          }
        }
        &-item {
          width: 28px;
          height: 3px;
          background-color: #fff;
          z-index: 100;
        transition: all ease 0.2s;

          &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 28px;
            height: 3px;
            background-color: #fff;
        transition: all ease 0.4s;

          }
          &::after {
            content: "";
            position: absolute;
            top: 10px;
            right: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
        transition: all ease 0.4s;

          }
        }
      }

      &__nav-menu {
        display: flex;
        justify-content: center;
        @media (max-width: 991px) {
          justify-content: start;
          margin-left: 5%;
          margin-top: 100px;
          margin-bottom: 5%;
        }
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-size: calculateSize(18, 21);
          @media (max-width: 991px) {
            flex-direction: column;
            align-items: start;
            // justify-content: center;
          }
          li {
            margin-right: 14px;
            cursor: pointer;
            transition: color ease 0.3s;
            user-select: none;
            padding: 10px;
            &:hover {
              color: #80a0e2;
            }
            @media (max-width: 991px) { 
              padding: 20px 10px;
            }
          }
        }
      }
      &__more-info {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: end;
        z-index: 344;
        @media (max-width: 991px) {
          justify-content: start;
          
        }
        .more-info__button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 14px 44px;
          position: relative;
          height: 50px;
          border-radius: 30px;
          color: white;
          text-wrap: nowrap;
          background: #161517;
          transition: all ease 0.3s;
          @media (max-width: 991px) {
            background: #46444d;
            width: 100%; 
            margin: 0 20px;
          }
          &:hover {
            background: none;
            color: black;
            z-index: 3;
          }

          &::before {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            z-index: -1;
            background: linear-gradient(to right, #80a0e2, #e1c8cc, #80cce0);
            border-radius: inherit;
          }
        }
      }
    }

    .header-is-sticky & {
      height: rem($headerHeight - 50);
    }
  }
}

// Burger
/*
.icon-menu {
  display: none;

  @include media-mx(991) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
