@media (max-width: 991px) {
  body {
    .header__container {
      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 0%;
        height: 100px;
        background-color: #46444d;
        transition: all ease 0.4s;
      }
    }
    &.active {
      .header__container {
        &::before {
          content: "";
          width: 100%;
        }
      }
    }
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #161517;
  z-index: 50;
  .header-is-sticky & {
    // ..стили для липкого хедера
    position: fixed;
  }
  // .header__container
  &__container {
    display: grid;
    grid-template-columns: 15% 1fr;
    align-items: center;
    justify-content: start;
    height: 100%;
    @media (max-width: 1030px) {
    }
    .logo--header {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      user-select: none;
      z-index: 100;
    }
    .logo {
      cursor: pointer;
      &__icon {
        margin-right: 12px;
        path {
          transition: all ease 0.3s;
        }
      }
      &__text {
        font-family: Coolvetica;
        font-size: 28px;
        transition: all ease 0.3s;
      }

      &:hover {
        .logo__icon {
          path {
            fill: #467ff0;
          }
        }
        .logo__text {
          color: #467ff0;
        }
      }
    }
    .burger-menu {
      display: grid;
      grid-template-columns: 1fr 20%;
      transition: all ease 0.4s;
      @media (max-width: 991px) {
        position: absolute;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: #46444d;
        overflow: none;
      }
      &.active {
        overflow: auto;
        left: 0%;
      }
      &__icon {
        position: fixed;
        display: flex; 
        justify-content: center; 
        width: 40px;
        height: 40px;
        top: 30px;
        left: 90%;
        transition: all ease 0.4s;
        cursor: pointer;
        z-index: 2;
        display: none; 
         @media (max-width: 991px) {
        display: block; 

         }
        &.active {
          left: 90%;
          position: fixed;
          .burger-menu__icon-item {
            height: 0;
            &::before {
              transform: translateY(10px) rotate(45deg);
            }
            &::after {
              transform: translateY(-10px) rotate(-45deg);
              width: 28px;
            }
          }
        }
        &:hover {
            .burger-menu__icon-item {
            background-color: #17a4f5;
            &::before {
              background-color: #17a4f5;
            }
            &::after {
             background-color: #17a4f5;
            }
          }
        }
        &-item {
          position: relative;
          width: 28px;
          height: 3px;
          top: 50%;
          background-color: #fff;
          transition: all ease 0.2s;
          z-index: 100;

          &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 28px;
            height: 3px;
            background-color: #fff;
            transition: all ease 0.4s;
          }
          &::after {
            content: "";
            position: absolute;
            top: 10px;
            right: 0;
            width: 20px;
            height: 3px;
            background-color: #fff;
            transition: all ease 0.4s;
          }
        }
      }

      &__nav-menu {
        display: flex;
        justify-content: center;
        @media (max-width: 991px) {
          justify-content: start;
          margin-left: 5%;
          margin-top: 100px;
          margin-bottom: 5%;
        }
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-size: calculateSize(18, 21);
          @media (max-width: 991px) {
            flex-direction: column;
            align-items: start;
            // justify-content: center;
          }
          li {
            margin-right: 14px;
            transition: color ease 0.3s;
            padding: 10px;
            user-select: none;
            cursor: pointer;
            &:hover {
              color: #80a0e2;
            }
            @media (max-width: 991px) {
              padding: 20px 10px;
            }
          }
        }
      }
      &__more-info {
        display: flex;
        position: relative;
        justify-content: end;
        width: 100%;
        z-index: 344;
        @media (max-width: 991px) {
          justify-content: start;
        }
        .more-info__button {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 14px 44px;
          height: 50px;
          border-radius: 30px;
          color: white;
          text-wrap: nowrap;
          background: #161517;
          transition: all ease 0.3s;
          @media (max-width: 991px) {
            background: #46444d;
            width: 100%;
            margin: 0 20px;
          }
          &:hover {
            background: none;
            color: black;
            z-index: 3;
          }

          &::before {
            content: "";
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            background: linear-gradient(to right, #80a0e2, #e1c8cc, #80cce0);
            border-radius: inherit;
            z-index: -1;
          }
        }
      }
    }

    .header-is-sticky & {
      height: rem($headerHeight - 50);
    }
  }
}

// Burger
/*
.icon-menu {
  display: none;

  @include media-mx(991) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
*/
