@import "overview-sections/overview-first";
@import "overview-sections/overview-second";
@import "overview-sections/overview-third";
@import "overview-sections/overview-fourth";
@import "overview-sections/overview-fifth";
@import "overview-sections/overview-sixth";
@import "overview-sections/overview-seventh";
@import "overview-sections/overview-eighth";
@import "overview-sections/overview-ninth";

.title {
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(to right, #80a0e2, #e1c8cc, #80cce0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
