/** Базовые анимации: */
@import 'keyframes';

/** Стили для полноэкранного блока: */
// @import "fullscreen";

/*
* (i) Стили будут применяться ко
* всем классам содержащим *__container
* Например header__container, main__container и т.д.
*/
@function calculateSize($minSize, $maxSize) {
  $fontSize: calc(#{$minSize}px + (#{$maxSize} - #{$minSize}) * ((100vw - 320px) / (1980 - 320)));
  @return #{$fontSize};
}

[class*='__container'] {
  max-width: rem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 rem($mainOffset);
}

// Стили отзывчивых картинок (IBG) ============================================
[class*='-ibg'] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

[class*='-ibg_contain'] {
  img {
    object-fit: contain;
  }
}

body {
  font-family: Gilroy;
   overflow-x: hidden;
  overflow-y: auto;
  &.active {
    overflow: hidden;
  }
}
// Оболочка ===================================================================
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #161517;
  color: white; 

  /** Поменять на clip - если используется в проекте position: sticky */
  overflow: hidden;
}

.page {
  position: relative;
  flex: 1 1 auto;

  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(2);
    background: transparent;
    pointer-events: none;
  }

  &_start {
    padding-top: rem($headerHeight);
  }
}
